# Configuration file

####################
# block
####################

block {
    I:blockLimestone=1376
    I:blockLimestoneSlab.bottom=1377
    I:blockLimestoneSlab.top=1378
    I:blockLimestoneStairs.0=1379
    I:blockLimestoneStairs.1=1380
    I:blockLimestoneStairs.2=1381
    I:blockLimestoneStairs.3=1382
    I:blockLimestoneStairs.4=1383
    I:blockLimestoneStairs.5=1384
    I:blockLimestoneStairs.6=1385
    I:blockLimestoneStairs.7=1386
    I:blockMarble=1387
    I:blockMarblePillar=1388
    I:blockMarblePillarSlab.bottom=1389
    I:blockMarblePillarSlab.top=1390
    I:blockMarbleSlab.bottom=1391
    I:blockMarbleSlab.top=1392
    I:blockMarbleStairs.0=1393
    I:blockMarbleStairs.1=1394
    I:blockMarbleStairs.2=1395
    I:blockMarbleStairs.3=1396
    I:blockMarbleStairs.4=1397
    I:blockMarbleStairs.5=1398
    I:blockMarbleStairs.6=1399
    I:blockMarbleStairs.7=1400
    I:carpet=1401
    I:carpetFloor=1402
    I:cloud=1429
    I:concrete=1403
    I:factory=1404
    I:fft=1405
    I:holystone=1406
    I:icePillar=1407
    I:iceStairs.0=1408
    I:iceStairs.1=1409
    I:iceStairs.2=1410
    I:iceStairs.3=1411
    I:iceStairs.4=1412
    I:iceStairs.5=1413
    I:iceStairs.6=1414
    I:iceStairs.7=1415
    I:lavastone=1416
    I:roadLine=1417
    I:sandSnakestone=1418
    I:sandstoneScribbles=1419
    I:snakestone=1420
    I:snakestoneObsidian=1421
    I:temple=1422
    I:templeMossy=1423
    I:tyrian=1424
    I:wood-birch=1425
    I:wood-jungle=1426
    I:wood-oak=1427
    I:wood-spruce=1428
}


####################
# general
####################

general {
    # Changes pane rendering algorithm a bit.
    B:"Add panes"=true

    # Use alternative crafting recipe for the chisel
    B:"Alternative recipe"=true

    # Amount of limestone to generate in the world; use 0 for none
    I:"Worldgen limestone amount"=4

    # Amount of marble to generate in the world; use 0 for none
    I:"Worldgen marble amount"=0

    # Traversing concrete roads, players will acceleration to this velocity. For reference, normal running speed is about 0.28. Set to 0 to disable acceleration.
    D:"concrete velocity"=0.45

    # Disable connected textures
    B:"disable connected textures"=false

    # Some blocks, like bookshelves and ice will not get overridden using "override vanilla blocks" setting. Set this to true to disable all overriding.
    B:"disable overriding blocks"=false

    # Reworks ice blocks to drop Ice shards when destroyed
    B:"ice drops ice shards"=true

    # Use old pillar textures
    B:"old pillar graphics"=false

    # If true, will override vanilla blocks with their chisel variations. If false, will create one new chiseled block for each vanilla block that can be chiseled.
    B:"override vanilla blocks"=true

    # Particle tick rate. Greater value = less particles.
    I:"particle tickrate"=1

    # Make variations of blocks have the same name, and use the description in tooltip to distinguish them.
    B:"use block descriptions in tooltips"=true

    # Add a new tab in creative mode and put all blocks that work with chisel there.
    B:"use custom creative tab"=true
}


####################
# item
####################

item {
    I:ballOMoss=7301
    I:chisel=7302
    I:cloudInABottle=7303
    I:iceshard=7304
}


####################
# tweaks
####################

tweaks {
    # Unlocalized name of the block that, when burned, will produce concrete (examples: lightgem, stone)
    S:"concrete recipe block"=gravel
}


